$innerWidth: 75%;
$primaryBg: rgba(0,72,117,1);
$primaryColor: #0067A8;
$primaryDefault: #004875;
.inner{
  width: $innerWidth;
  margin: 0 auto;
}
.content{
  display: flex;
  justify-content: space-between;
}
li{
  list-style: none;
}
button{
  box-shadow: none;
  border: none;
}


