$innerWidth: 75%;
$primaryBg: rgba(0,72,117,1);
$primaryColor: #0067A8;
$primaryDefault: #004875;
.inner{
  width: $innerWidth;
  margin: 0 auto;
}
.content{
  display: flex;
  justify-content: space-between;
}
li{
  list-style: none;
}
button{
  box-shadow: none;
  border: none;
}
@media (min-width: 413px) and (max-width: 767px) {
  .inner{
    width: 95%;
    margin: 0 auto;
  }
}
@media (max-width: 412px) {
  .inner{
    width: 98%;
    margin: 0 auto;
  }
}


