$innerWidth: 1100px;
$primaryBg: rgba(0,72,117,1);
$primaryColor: #0067A8;
$primaryDefault: #004875;
.inner{
  margin: 0 auto;
  width: $innerWidth;
}
li{
  list-style: none;
}
button{
  box-shadow: none;
  border: none;
}
input{

}
.banner {
  height: 700px;
  background: no-repeat center center;
  background-size: cover;
  box-sizing: border-box;
}
